body, figure, h1, ul{
	border:0 none;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top;
	list-style:none
}

p{
	font-size:150%;
	color: #cc3030;
	font-weight:bold;
	text-indent: 50px;
	line-height: 1.2;
}

body {
	background-color: rgb(255, 255, 255);
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:1em;
	color:#696363
}
html {
	min-width:1000px
}

html, body {
	height:100%
}
.container {
	margin:0 auto;
	overflow:hidden;
	width:1000px;
	font-size:.875em;
	padding:60px 0 140px 0
}
header .container {
	height:90px;
	position:relative;
	padding:0
}
aside {
	width:311px;
	position:relative;
	z-index:10;
	float:left;
	margin-right:-10px
}

footer {
	background-color: #000;
	margin-top: -100px;
}
footer .container {
	text-align:center;
	color:#fff;
	padding:0;
}

.wrap {
	min-height:100%
}

a {
	color:#4d3ed8;
	text-decoration: none;
}
a:hover {
	text-decoration:none
}
h1 {
	font-size:3.457em;
	line-height:1.2em;
	font-weight:bolder;
	position:absolute;
	left:30px;
	top:10px;
}

h2 {
	font-size:30px;
	line-height:1.2em;
	color:rgb(255, 0, 0);
	margin-bottom:20px
}

header nav {
	position:absolute;
	right:60px;
	top:0;
	z-index:20
}
header nav ul li {
	float:left;
	font-size:16px;
	line-height:1.2em;
	padding-left:13px
}
header nav ul li a {
	text-decoration:none;
	display:block;
	color:#aeaeae;
	background-repeat:no-repeat;
	background-position:left top}
header nav ul li a span {
	display:block;
	padding:0 3px;
}
nav ul li a span span {
	padding: 30px 15px 20px 15px;
}
footer .inside {
	padding: 30px;
}
#contacts-form {
	clear:right;
	width:100%;
	overflow:hidden
}
#contacts-form fieldset {
	border:none;
	float:left
}
#contacts-form .field {
	clear:both;
	height:29px
}
#contacts-form label {
	float:left;
	width:107px;
	color:#a6a6a6;
	padding-top:2px
}
#contacts-form input {
	width:237px;
	padding:1px 0 1px 3px;
	border:1px solid #a6a6a6;
	color:#a6a6a6;
	background:none;
	float:left
}
#contacts-form textarea {
	width:237px;
	height:114px;
	padding:1px 0 1px 3px;
	border:1px solid #a6a6a6;
	color:#a6a6a6;
	margin-bottom:15px;
	overflow:auto;
	background:none;
	float:left
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

img{
	height: 400px;
}
.row {
  display: flex;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}
